<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div><img src="/imgs/cdv.png" alt="picture" /></div>
    <h1>Chao ngay moi</h1>
  </body>
</html>
