<!DOCTYPE html>
<html lang="en">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table,
    th,
    td {
      border: 1px solid black;
    }
    th,
    td {
      padding: 10px;
      text-align: left;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <h1>Sample Form and Table</h1>

    <form action="/submit" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" /><br /><br />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    <h2>Sample Table</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>jane@example.com</td>
      </tr>
    </table>
  </body>
</html>
